# Ignore dependencies
**/node_modules/

# Cypress artifacts
**/cypress/videos/
**/cypress/screenshots/

# Playwright artifacts
**/playwright-report/
**/test-results/

# Logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db